<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Add A Show</title>
</head>
<body>
  <div id='container'>
    <h1>Add a New Show</h1>
    <div id='add_show_content'>
      <a href="/">Go Back</a>
      <form action="/create_show" method="POST">

        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name='title'>
        
        <label for="network">Network</label>
        <input type="text" name="network">

        <label for="release_date">Release Date</label>
        <input type="date" name="release_date">

        <label for="desc">Description</label>
        <textarea name="desc" cols="30" rows="10"></textarea>

        <input type="submit" value="Create">

      </form>
    </div>
  </div>  
</body>
</html>