<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{{show.title}}</title>
</head>
<body>
  <div id='container'>
  <h1>{{show.title}}</h1>
    <div id='add_show_content'>
      <a href="/">Go Back</a>
      <p><strong>ID:</strong> {{show.id}}</p>
      <p><strong>Network:</strong> {{show.networks.name}}</p>
      <p><strong>Release Date:</strong> {{show.release_date}}</p>
      <p><strong>Description:</strong> {{show.desc}}</p>
      <p><strong>Last Updated:</strong> {{show.updated_at}} GMT</p>

      <a href="/shows/{{show.id}}/edit">Edit</a>
      <a href="/shows/{{show.id}}/delete" onClick="return confirm('Are you sure you would like to delete {{show.name}}?')">Delete</a>
    </div>
  </div>
</body>
</html>